<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>采集通道</title>
    <script type="text/javascript" src="../../resources/js/jquip.events.min.js" th:src="@{/resources/js/jquip.events.min.js}"></script>
    <link th:href="@{/resources/css/style.css}" href="../../resources/css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="clear" id="nav">
    <ul>
        <li>
            <a th:href="@{/}" href="index.html">主页</a>
        </li>
        <li class="active">
            <a th:href="@{/channels}" href="channels.html">采集通道</a>
        </li>
    </ul>
</div>
<div style="margin: 10px 0;">
    <div style="padding-bottom: 5px">
        <input id="search" type="text" width="100" /> <input id="searchBtn" type="button" value="搜索" />
    </div>
    <table class="dataintable">
        <thead>
            <tr>
                <th id="nameSort">通道名称</th>
                <th id="idxSort" >序号</th>
                <th>状态</th>
                <th>通讯规约</th>
                <th>端口信息</th>
                <th>数据监测</th>
                <th>历史数据</th>
            </tr>
        </thead>
        <tbody id="tbContent">
        <tr th:each="channel : ${channels}" th:title="'通讯帧：' + ${channel.frames}">
            <td th:text="${channel.name}"></td>
            <td th:text="${channel.idx}"></td>
            <td th:text="${channel.onLine} ? '在线' : '离线'"></td>
            <td th:text="${channel.protocal}"></td>
            <td th:text="${channel.portInfo}"></td>
            <td><a href="endTag.html" th:href="@{/endTag(idx=${channel.idx})}" target="_blank">打开</a></td>
            <td><a href="endTagHistory.html" th:href="@{/endTagHistory(idx=${channel.idx})}" target="_blank">打开</a></td>
        </tr>
        </tbody>
    </table>
    <div style="padding: 5px 0;">
        <form action="channels.html" th:action="@{/channels}" method="post">
            <select onchange="javascript:$('form').submit();" name="pageSize">
                <option value="10" selected="selected" th:selected="${pageSize} == 10">10</option>
                <option value="15" th:selected="${pageSize} == 15">15</option>
                <option value="20" th:selected="${pageSize} == 20">20</option>
                <option value="30" th:selected="${pageSize} == 30">30</option>
                <option value="50" th:selected="${pageSize} == 50">50</option>
            </select>
        <input type="button" value="上一页" onclick="prevPage()" th:disabled="${pageIndex} &lt; 2" />
        <select onchange="javascript:$('form').submit();" name="pageIndex" id="pageIndex">
            <option th:each="i : ${#numbers.sequence(1, pageCount)}"
                    th:value="${i}" th:text="'第' + ${i}+ '页'" th:selected="${pageIndex} == ${i}"></option>
        </select>
        <input type="button" value="下一页" onclick="nextPage()" th:disabled="${pageIndex} == ${pageCount}" />
        </form>
    </div>
    <script type="text/javascript">
        $(function(){
            $("#searchBtn").click(function() {
                var text = $("#search").val();
                $("#tbContent tr").not(":contains('"+text+"')").hide();
                $("#tbContent tr:contains('"+text+"')").show();
            });

            $("#nameSort").click(function() {

            });
        });
        function prevPage() {
            var pageIndex = $("#pageIndex").val();
            var prevPageIndex = parseInt(pageIndex) - 1;
            $("#pageIndex").val(prevPageIndex);
            $("form").submit();
        }

        function nextPage() {
            var pageIndex = $("#pageIndex").val();
            var nextPageIndex = parseInt(pageIndex) + 1;
            $("#pageIndex").val(nextPageIndex);
            $("form").submit();
        }
    </script>
</div>
</body>
</html>