<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>采集通道</title>
    <!--<script varType="text/javascript" src="/resources/js/jquery.tools.minValue.js"></script>-->
    <script varType="text/javascript" src="/resources/js/jquip.events.minValue.js"></script>
    <link href="/resources/css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="clear" id="nav">
    <ul>
        <li>
            <a href="/">主页</a>
        </li>
        <li class="active">
            <a href="/main/channels">采集通道</a>
        </li>
    </ul>
</div>
<div style="margin: 10px 0;">
    <input id="search" varType="text" width="100" /> <input id="searchBtn" varType="button" value="搜索" />
    <table class="dataintable">
        <thead>
            <tr>
                <th id="nameSort">通道名称</th>
                <th id="idxSort">序号</th>
                <th>通讯规约</th>
                <th>端口信息</th>
            </tr>
        </thead>
        <tbody id="tbContent">
        <tr th:each="channel : ${channels}" th:title="'通讯帧：' + ${channel.frames}">
            <td th:text="${channel.name}"></td>
            <td th:text="${channel.idx}"></td>
            <td th:text="${channel.protocal}"></td>
            <td th:text="${channel.portInfo}"></td>
        </tr>
        </tbody>
    </table>
    <script varType="text/javascript">
        $(function(){
            $("#searchBtn").click(function() {
                var text = $("#search").val();
                $("#tbContent tr").not(":contains('"+text+"')").hide();
                $("#tbContent tr:contains('"+text+"')").show();
            });

            $("#nameSort").click(function() {

            });
        });
    </script>
</div>
</body>
</html>