<!DOCTYPE html>

<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>编辑</title>
    <!--<script type="text/javascript" src="../../resources/js/jquip.minValue.js" th:src="@{/resources/js/jquip.events.minValue.js}"></script>-->
    <script type="text/javascript" src="../../resources/js/jquery.tools.min.js" th:src="@{/resources/js/jquery.tools.min.js}"></script>
    <link href="../../resources/css/style.css" th:href="@{/resources/css/style.css}" rel="stylesheet"/>

    <script type="text/javascript">
        function modeChanged() {
            var mode = $("#mode").val();
            if (mode == 'single') {
                $("#host").attr("hidden", "hidden");
                $("#port").attr("hidden", "hidden");
            } else if (mode == 'master') {
                $("#host").attr("hidden", "hidden");
                $("#port").removeAttr("hidden");
            } else if (mode == 'slaver') {
                $("#host").removeAttr("hidden");
                $("#port").removeAttr("hidden");
            }
        }

        function onSubmit() {
            return window.confirm("更新配置前将自动停止当前数据采集服务，您确定要执行该操作吗？");
        }
    </script>
</head>
<body>
<div style="width: 300px; margin: 0 auto;">
    <div th:if="${message}" th:text="${message}" class="msg-error"></div>
    <form action="edit" method="get">
        <table style="margin-top: 10px">
            <tr>
                <td>运行模式</td>
                <td>
                    <select id="mode" name="mode" onchange="modeChanged()">
                        <option value="single" th:selected="${isSingle}?'selected'">单机模式</option>
                        <option value="master" th:selected="${isMaster}?'selected'">主机模式</option>
                        <option value="slaver" th:selected="${isSlaver}?'selected'">备机模式</option>
                    </select>
                </td>
            </tr>
            <tr th:hidden="${not isSlaver}" id="host">
                <td>主机地址</td>
                <td>
                    <input name="masterHost" type="text" value="localhost" th:value="${masterHost}" />
                </td>
            </tr>
            <tr th:hidden="${isSingle}" id="port">
                <td>主机端口</td>
                <td>
                    <input name="masterPort" type="text" value="4660" th:value="${masterPort}" />
                </td>
            </tr>
        </table>
        <input type="submit" value="提交" onsubmit="onSubmit()" />
    </form>
</div>
</body>
</html>