<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${endTagWrapper.endTag.name}">监控对象</title>
    <script type="text/javascript" src="../../resources/js/jquery.tools.min.js" th:src="@{/resources/js/jquery.tools.min.js}"></script>
    <link href="../../resources/css/jquery.tools.css" th:href="@{/resources/css/jquery.tools.css}"  rel="stylesheet"/>
    <link href="../../resources/css/style.css" th:href="@{/resources/css/style.css}"  rel="stylesheet"/>
</head>
<body>
<div class="clear" id="nav">
    <ul>
        <li>
            <a th:href="@{/}" href="index.html">主页</a>
        </li>
        <li>
            <a th:href="@{/channels}" href="channels.html">采集通道</a>
        </li>
    </ul>
</div>
<div style="margin: 10px 0;">
    <div th:text="${endTagWrapper.endTag.name}">监控对象名称</div>
    <!--<select id="mode" name="mode" onchange="modeChanged()">-->
        <!--<option th:each="endTagWrapper : commChannel.endTagList" th:value="${endTagWrapper.endTag.name}"-->
                <!--th:text="${endTagWrapper.endTag.name}" selected="selected">1#油井</option>-->
    <!--</select>-->
    <div>
        <a href="#" target="_blank"
                th:href="@{/gt(channelIdx=${channelIdx},code=${endCode},type='sgt',width=500,height=500)}">示功图</a>
        <a href="#" th:href="@{/gt(channelIdx=${channelIdx},code=${endCode},type='dlt',width=500,height=500)}" target="_blank">电流图</a>
        <a href="#" th:href="@{/gt(channelIdx=${channelIdx},code=${endCode},type='glt',width=500,height=500)}" target="_blank">功率图</a>
    </div>

    <div id="content">
        <ul class="css-tabs">
            <!--<li th:each="varGroup : ${endTagWrapper.varGroupWrapperMap}"><a href="#" th:text="${varGroup.key.value}">变量分组名称</a></li>-->
            <li th:each="varGroup : ${groupList}"><a href="#" th:text="${varGroup.varGroupInfo.value}">变量分组名称</a></li>
        </ul>

        <!-- tab "panes" -->
        <div class="css-panes">
            <div name="tab" th:each="varGroup : ${groupList}">
            <!--<div name="tab" th:each="varGroup : ${endTagWrapper.varGroupWrapperMap}">-->
                <!-- 				<button id="edit-yx">更新信息表</button> -->
                <table class="dataintable" th:if="${not #lists.isEmpty(varGroup.yxVarList)}" style="float: left; margin-right: 5px;">
                    <tr>
                        <th>遥信</th> <th>状态</th>
                    </tr>
                    <tr th:each="yxVar : ${varGroup.yxVarList}">
                        <td th:text="${yxVar.tpl.tagName}">变量名</td>
                        <td th:text="${yxVar.lastYxValue}">0</td>
                    </tr>
                </table>
                <table class="dataintable" th:if="${not #lists.isEmpty(varGroup.ycVarList)}" style="float: left; margin-right: 5px;">
                    <tr>
                        <th>遥测</th> <th>变量值</th>
                    </tr>
                    <tr th:each="ycVar : ${varGroup.ycVarList}" th:if="${not ycVar.lastArrayValue}">
                        <td th:text="${ycVar.tpl.tagName}">变量名</td>
                        <td th:text="${ycVar.lastYcValue}">240</td>
                        <!--<td th:text="${#numbers.arrayFormatDecimal(ycVar.lastArrayValue, 3, 2)}"-->
                            <!--th:if="${#objects.nullSafe(ycVar.lastArrayValue, #{false})}">23,324,324,23</td>-->
                    </tr>
                    <tr th:each="ycVar : ${varGroup.ycVarList}" th:if="${ycVar.lastArrayValue}">
                        <td th:text="${ycVar.tpl.tagName}">变量名</td>
                        <td>
                            <span name="tooltip">查看遥测数组</span>
                            <span class="tooltip">
                                    <span th:each="ycArrayItem : ${ycVar.lastArrayValue}"
                                          th:text="${#numbers.formatDecimal(ycArrayItem, 3, 2)}"
                                          style="float: left; padding: 2px;">
                                        123.45
                                    </span>
                                    <br style="clear: both;" />
                            </span>
                        </td>
                    </tr>
                </table>
                <table class="dataintable" th:if="${not #lists.isEmpty(varGroup.ymVarList)}" style="float: left;">
                    <tr>
                        <th>遥脉</th> <th>变量值</th>
                    </tr>
                    <tr th:each="ymVar : ${varGroup.ymVarList}">
                        <td th:text="${ymVar.tpl.tagName}">变量名</td>
                        <td th:text="${ymVar.lastYmValue}">111111</td>
                    </tr>
                </table>
                <br style="clear: both;" />
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            $(".css-tabs:first").tabs(".css-panes:first > div");
            $("span[name='tooltip']").tooltip();
        });
    </script>
</div>
</body>
</html>