<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${endTagWrapper.endTag.name} + '-故障记录'">监控对象-故障记录</title>
    <script type="text/javascript" src="../../resources/js/jquery.tools.min.js" th:src="@{/resources/js/jquery.tools.min.js}"></script>
    <link href="../../resources/css/jquery.tools.css" th:href="@{/resources/css/jquery.tools.css}"  rel="stylesheet"/>
    <link href="../../resources/css/style.css" th:href="@{/resources/css/style.css}"  rel="stylesheet"/>
    <script type="text/javascript">
        $(function(){
            $.tools.dateinput.localize("zh",  {
                months:        '一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月',
                shortMonths:   '1,2,3,4,5,6,7,8,9,10,11,12',
                days:          '星期一,星期二,星期三,星期四,星期五,星期六,星期日',
                shortDays:     '一,二,三,四,五,六,日'
            });
            $("#datePicker").dateinput({
                lang: 'zh',
                format: 'yyyy-m-dd'
            });
            $("select").change(function() {
                $("form").submit();
            });
        });

        function prevPage() {
            var pageIndex = $("select:[name='pageIndex']").val();
            var prevPageIdex = parseInt(pageIndex) - 1;
            $("select:[name='pageIndex']").val(prevPageIdex);
            $("form").submit();
        }

        function nextPage() {
            var pageIndex = $("select:[name='pageIndex']").val();
            var nextPageIdex = parseInt(pageIndex) + 1;
            $("select:[name='pageIndex']").val(nextPageIdex);
            $("form").submit();
        }

    </script>
</head>
<body>
<div class="clear" id="nav">
    <ul>
        <li>
            <a th:href="@{/}" href="index.html">主页</a>
        </li>
        <li>
            <a th:href="@{/channels}" href="channels.html">采集通道</a>
        </li>
    </ul>
</div>
<div style="margin: 10px;">
    <!--<select id="mode" name="mode" onchange="modeChanged()">-->
        <!--<option th:each="endTagWrapper : commChannel.endTagList" th:value="${endTagWrapper.endTag.name}"-->
                <!--th:text="${endTagWrapper.endTag.name}" selected="selected">1#油井</option>-->
    <!--</select>-->
    <form action="faultRecord" th:action="@{/faultRecord}" method="post">
    <div>
            <span th:text="${endTagWrapper.endTag.name}">监控对象名称</span>
            <input type="hidden" name="idx" th:value="${idx}" />
            <input name="date" id="datePicker" type="text" th:value="${#dates.format(date,'yyyy-MM-dd')}" />
            <input type="submit" value="查询" />
    </div>

        <div class="msg-info" style="margin: 5px;" th:if="${#lists.isEmpty(dataList)}">
            暂无故障报警记录
        </div>

    <div style="margin: 5px 0;" th:if="${not #lists.isEmpty(dataList)}">
        <table class="dataintable">
            <tr>
                <th>发生时间</th>
                <th>解除时间</th>
                <th>ID</th>
                <th>监控对象ID</th>
                <th>监控对象名称</th>
                <th>监控对象编号</th>
                <th>变量标签</th>
                <th>变量名称</th>
                <th>信息</th>
                <th>动作值</th>
            </tr>
            <tr th:each="data : ${dataList}">
                <td th:text="${#dates.format(data.actionTime,'HH:mm:ss')}"></td>
                <td th:text="${#dates.format(data.resumeTime,'HH:mm:ss')}"></td>
                <td th:text="${data.id}"></td>
                <td th:text="${data.endId}"></td>
                <td th:text="${data.endName}"></td>
                <td th:text="${data.code}"></td>
                <td th:text="${data.tagName}"></td>
                <td th:text="${data.name}"></td>
                <td th:text="${data.info}"></td>
                <td th:text="${data.value ? '合' : '分'}"></td>
                <!--th:text="${data.arrayValueMap.get(ycVar.tpl.varName)}"-->
            </tr>
        </table>

        <div style="padding: 5px 0;">
            <input type="button" value="上一页" onclick="prevPage()" th:disabled="${pageIndex} &lt; 2" />
            <select onchange="javascript:$('form').submit();" name="pageIndex">
                <option th:each="i : ${#numbers.sequence(1, pageCount)}"
                        th:value="${i}" th:text="'第' + ${i}+ '页'" th:selected="${pageIndex} == ${i}"></option>
            </select>
            <input type="button" value="下一页" onclick="nextPage()" th:disabled="${pageIndex} == ${pageCount}" />
        </div>
    </div>
    </form>
</div>
</body>
</html>